{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    {{ form_start(form, {action: path('homepage')}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="row">
        <a href="{{ path('showResult') }}" class="btn btn-success">Показвть результаты</a>
    </div>

{% endblock %}